fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
python-multipart
python-dotenv
pydantic[email]
httpx
jinja2
python-socketio
aiofiles
requests
reportlab
pillow
